:root {
    --dark-red: hsl(0, 100%, 30%);
    --light-red: hsl(0, 100%, 93%);
    --light-red-hover: hsl(0, 100%, 88%);
    --light-red-active: hsl(0, 100%, 83%);
    --gray: hsl(0, 0%, 20%);
    --light-green: hsl(120, 73%, 85%);
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    background-color: hsl(0, 0%, 95%);
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    transition-property: background-color;
    transition: 100ms ease-in-out;
}

p * {
    display: block;
}

#search {
    width: 100%;
    font-size: 1.2rem;
}

#search:invalid {
    background-color: var(--light-red);
    border: 2px solid var(--dark-red);
}

#search:focus:invalid {
    outline: none;
}

#search:valid {
    background-color: var(--light-green);
}

.submit-btn {
    font-size: 1.1rem;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background-color: var(--light-red);
    border-radius: 8px;
    font-weight: bolder;
    box-shadow: 0 2px 2px hsl(0, 0%, 0%, 0.5);
    color: var(--gray);
}

.submit-btn:hover {
    background-color: var(--light-red-hover);
}

.submit-btn:active {
    background-color: var(--light-red-active);
    box-shadow: none;
}

.error {
    background-color: var(--dark-red);
    color: white;
    border-radius: 0 0 8px 8px;
}

.active {
    padding: 0.3em;
}

header {
    anchor-name: --header;
    color: var(--gray);
}

main {
    anchor-name: --main;
    background-color: white;
    border: 1px solid black;
    padding: 20px 50px;
    font-size: 1.2rem;
    position-anchor: --header;
    width: 320px;
    height: 220px;
    position: fixed;
    position-area: bottom;
    top: 2em;
    border-radius: 20px;
    box-shadow: 0 10px 30px hsl(0, 0%, 0%, 0.5);
}

main>form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form>p {
    margin-top: 0;
}

.card {
    position: fixed;
    position-anchor: --main;
    position-area: bottom;
    top: 70px;
    display: flex;
    border: 1px solid black;
    width: 350px;
    height: 350px;
    justify-content: center;
}

footer,
a {
    text-decoration: none;
    color: var(--gray);
    margin-block: 5px;
}